.select-list {			
  display: grid; gap: 0.3rem;
  margin-bottom: 2rem; 
  padding: 1rem; 
  border: solid 1px var(--hallpass-border-regular); 
  border-radius: 0.5rem;
  .item {		
    cursor: pointer;		
    padding: 0.5rem; 
    border: solid 1px var(--hallpass-border-regular); border-radius: 0.5rem;
    &:hover { 
      border-color: var(--hallpass-border-active); 
      background-color: var(--hallpass-bg-active);
    }
    &.active {
      border: solid 2px var(--hallpass-border-active);
      background-color:var(--hallpass-bg-active);
    }
  }
}

.configuration {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 2px var(--hallpass-border-minimal);
  &.active {
    border: solid 2px var(--hallpass-border-regular);
  }

}

.field-group {
  padding-left: 1rem;
  border-left: solid 2px var(--hallpass-border-light);
}
.field {
  display: flex; flex-direction: column; gap: 0.2rem;
  margin-bottom: 1rem;
  label { font-weight: 500; }
  input { 
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--hallpass-bg-minimal);
    color: var(--vscode-input-foreground);
    border: solid 1px var(--hallpass-border-light);
    &:focus, &:active {
      outline: none;
      color: var(--vscode-input-foreground);
      background-color: var(--vscode-input-background);
    }
  }
  .hint {
    font-size: smaller;
  }
}

